/* index.html */

/* banner */
.banner {
  padding: 14em 3em 10em 3em;
}
.banner h1 {
  padding: 0.5em 0;
  border-bottom: 2px solid #fff;
  font-size: 3em;
}
.banner > div {
  display: flex;
  padding: 1.5em 0;
  gap: 10px;
  letter-spacing: 0.1em;
  line-height: 1.6;
}
.banner > div > p {
  width: 400px;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* MAIN */
/* ONE */
#one {
  display: flex;
  flex-wrap: wrap;
}
#one .tile {
  display: flex;
  align-items: center;
  width: 50%;
  height: 20em;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

#one .tile > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 4em;
  z-index: 1;
}
#one .tile h3 {
  display: inline;
  padding: 0.5em 0;
  border-bottom: 2px solid #fff;
  font-size: 1.75em;
}
#one .tile p {
  padding: 0.7em 0;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
#one .tile_hover {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
#one .tile:hover .tile_hover {
  opacity: 1;
}

@media screen and (min-width: 980px) {
  #one .tile {
    width: 40%;
    height: 25em;
  }
  #one .tile:nth-child(2),
  #one .tile:nth-child(3),
  #one .tile:nth-child(6) {
    width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  #one .tile h3 {
    font-size: 2em;
  }
  #one .tile p {
    font-size: 1em;
  }
}
/* background color */
#one .tile:nth-child(1) {
  background-color: #6fc3df;
}
#one .tile:nth-child(2) {
  background-color: #8d82c4;
}
#one .tile:nth-child(3) {
  background-color: #ec8d81;
}
#one .tile:nth-child(4) {
  background-color: #e7b788;
}
#one .tile:nth-child(5) {
  background-color: #8ea9e8;
}
#one .tile:nth-child(6) {
  background-color: #87c5a4;
}

/* TWO */
#two {
  background-color: #2a2f4a;
}
#two > div {
  padding: 4em 3em;
}
#two h2 {
  display: inline-block;
  padding: 0.5em 0;
  margin-bottom: 1.25em;
  border-bottom: 2px solid #fff;
  font-size: 1.75em;
}
#two .btn_border {
  margin: 2.5em 0;
}
